<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <a class="navbar-brand h1" href="#">
        <img src="assets/img/Logo_ucb.png" alt="" width="100" />
      </a>
    </div>
  </div>
</nav>

<div class="m-5">
  <h1>Tecnologias Web</h1>
  <h4>Docente: {{ docente }}</h4>
  <h3 class="my-3">1.Justificacion</h3>
  <div class="card justify-content-center my-3" style="width: 50rem">
    <p class="card-body">{{ justificacion }}</p>
  </div>
  <h3>2.Contenidos</h3>
  <table class="table m-5">
    <thead>
      <th>Saberes</th>
      <th>Duracion en semanas</th>
      <th>Remota Sincronica</th>
      <th>Remota Asincronica</th>
    </thead>
    <tbody>
      <tr *ngFor="let con of contenidos">
        <td>{{ con.saber }}</td>
        <td>{{ "Semana" + con.semana }}</td>
        <td>{{ con.sincronica ? "X" : " " }}</td>
        <td>{{ con.asincronica ? "X" : " " }}</td>
      </tr>
    </tbody>
  </table>
</div>
